<template>
  <div>
    <v-row>
      <v-col>
        <v-btn to="/create" width="910" height="100">Create new Course</v-btn>
      </v-col>
    </v-row>
    <v-row>
      <!-- <v-btn @click="allCourses">Test</v-btn> -->
      <div v-for="c in allCourses" :key="c.code">
        <CourseCard :details="c" class="ma-2" />
      </div>
      <!-- <CourseCard class="ma-2" />
      <CourseCard class="ma-2" />
      <CourseCard class="ma-2" /> -->
    </v-row>
  </div>
</template>

<script lang="ts">
// @ is an alias to /src
import Vue from "vue";
import NavBar from "@/components/NavBar.vue";
import Component from "vue-class-component";
import CourseCard from "@/components/Courses/CourseCard.vue";
import firebase from "firebase";

const app = firebase.database();
const ref = app.ref("courses");

@Component({
  components: {
    CourseCard
  }
})
export default class Courses extends Vue {
  name: string = "Courses";
  allCourses: Object = {};

  mounted() {
    let self = this;
    ref.on("value", function(snapshot) {
      console.log(snapshot.val());
      self.allCourses = snapshot.val();
    });
  }
  //   get allCourses() {

  //   }
}
</script>
