<template>
  <div>
    <v-row>
      <v-card height="250px" width="100%">
        <v-col cols="12" md="12">
          <div align="center">
            <div class="display-1 my-auto">
              GEG101
            </div>
            <v-card-subtitle class="headline"
              >Introduction to Engineering Mathematics</v-card-subtitle
            >
          </div>
        </v-col>
      </v-card>
    </v-row>
    <v-row class="mt-2">
      <v-tabs>
        <v-tab v-for="tab in tabs" @click="currentTab = tab" :key="tab"
          >{{ tab }}
        </v-tab>

        <v-tabs-items>
          <keep-alive>
            <v-card class="pa-5" width="700">
              <component :is="currentTab" />
            </v-card>
          </keep-alive>
        </v-tabs-items>
      </v-tabs>
    </v-row>
  </div>
</template>

<script lang="ts">
// @ is an alias to /src
import Vue from "vue";
import NavBar from "@/components/NavBar.vue";
import CourseOverview from "@/components/Courses/CourseOverview.vue";
import CourseNotes from "@/components/Courses/CourseNotes.vue";
import Component from "vue-class-component";

@Component({
  components: {
    CourseOverview,
    CourseNotes
  }
})
export default class CoursePage extends Vue {
  name: string = "CoursePage";
  currentTab: string = "CourseOverview";
  tabs: Array<string> = ["CourseOverview", "CourseNotes", "exercises"];

  // getCurrentTab(num: number) {
  //   this.currentTab = num;
  // }
}
</script>
