<template>
  <v-row>
    <v-card width="500">
      <v-form class="mx-2">
        <v-text-field v-model="title" label="Course Title"></v-text-field>
        <v-text-field v-model="code" label="Course Code"></v-text-field>
        <v-text-field
          v-model="description"
          label="Course Description"
        ></v-text-field>
        <v-row justify="center" class="mb-3">
          <v-btn @click="saveCourse">Submit</v-btn>
        </v-row>
      </v-form>
    </v-card>
  </v-row>
</template>

<script lang="ts">
// @ is an alias to /src
import Vue from "vue";
import NavBar from "@/components/NavBar.vue";
import Component from "vue-class-component";
import CourseCard from "@/components/Courses/CourseCard.vue";
import firebase from "firebase";

const app = firebase.database();

@Component({
  components: {
    CourseCard
  }
})
export default class CreateCourse extends Vue {
  name: string = "CreateCourse";
  title: string = "";
  code: string = "";
  description: string = "";

  saveCourse() {
    app.ref("courses/" + "test").set({
      title: this.title,
      code: this.code,
      description: this.description
    });
    this.$router.replace("/courses").catch(err => {});
  }
}
</script>
