<template>
  <div class="home">
    <v-container class="main-container" fluid>
      <v-row>
        <v-col max-width="200" cols="3">
          <v-card height="250px" max-width="200">
            <v-navigation-drawer absolute permanent center>
              <v-list dense>
                <v-list-item
                  v-for="item in items"
                  :key="item.title"
                  @click="routeView(item.url)"
                >
                  <v-list-item-content>
                    <v-tab>{{ item.title }}</v-tab>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-navigation-drawer>
          </v-card></v-col
        >
        <v-col>
          <v-row><router-view></router-view></v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
// @ is an alias to /src
import Vue from "vue";
import NavBar from "@/components/NavBar.vue";
import Component from "vue-class-component";
import CourseCard from "@/components/Courses/CourseCard.vue";

@Component({
  components: {
    NavBar,
    CourseCard
  }
})
export default class Home extends Vue {
  data() {
    return {
      items: [
        { title: "Home", url: "/" },
        { title: "My Courses", url: "courses" },
        { title: "Course Page", url: "coursepage" },
        { title: "Create Course", url: "create" }
      ]
    };
  }
  name: string = "Home";
  routeView(url: string) {
    console.log(this.$router.currentRoute.path, `/${url}`);
    if (this.$router.currentRoute.path != `/${url}`)
      this.$router.replace(url).catch(err => {});
  }
}
</script>
<style scoped>
.main-container {
  margin-right: 40px !important;
  margin-left: 40px !important;
}
</style>
