<template>
  <div>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <!-- <v-col cols="12" sm="8" md="4"> -->
        <v-card align="center" class="elevation-12 mx-auto" width="400">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-toolbar color="primary" dark>
              {{ title }}
            </v-toolbar>

            <v-text-field
              :rules="[]"
              v-model="fullname"
              class="px-2"
              label="Full Name"
            ></v-text-field>
            <v-text-field
              v-model="username"
              :rules="[rules.required]"
              class="px-2"
              label="Username"
            ></v-text-field>
            <v-text-field
              v-model="email"
              :model="email"
              :rules="[rules.required, rules.email]"
              class="px-2"
              label="Email"
            ></v-text-field>

            <v-text-field v-model="password" class="px-2" label="Password">
              <template v-slot:progress>
                <v-progress-linear
                  v-if="custom"
                  :value="progress"
                  :color="color"
                  absolute
                  height="7"
                ></v-progress-linear>
              </template>
            </v-text-field>

            <v-text-field class="px-2" label="Confirm Password"></v-text-field>
            <v-text-field
              v-model="school"
              class="px-2"
              label="School"
            ></v-text-field>
            <v-row justify="center">
              <v-btn
                @click="validate"
                class="pb-3 mb-5"
                align="center"
                color="primary"
                >Submit</v-btn
              ></v-row
            >
            <v-row justify="center"
              ><v-btn
                dark
                @click="$router.replace('/login')"
                class="mb-5 center"
                color="#6b35fd"
                >Already have an account? Login here</v-btn
              ></v-row
            >
            <!-- <Button
                :click="test()"
                class="pb-3"
                align="center"
                label="Submit"
              /> -->
          </v-form>
        </v-card>
        <!-- </v-col> -->
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import InputField from "../../components/InputField.vue";
import Button from "../../components/Button.vue";
import NavBar from "../../components/NavBar.vue";
import { db } from "../../utils/firebase";
import firebase from "firebase";

@Component({
  components: { InputField, Button }
})
export default class Register extends Vue {
  custom: boolean = true;
  title: string = "Register";
  valid: boolean = true;
  fullname: string = "";
  username: string = "";
  email: string = "";
  password: string = "";
  school: string = "";
  rules: Object = {
    required: (value: any) => !!value || `Required.`,
    // counter: (value: any) => value.length <= 20 || "Max 20 characters",
    email: (value: string) => {
      const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return pattern.test(value) || "Invalid E-mail.";
    }
  };

  validate(): void {
    console.log(this.email, this.password);
    let userData = {
      fullname: this.fullname,
      username: this.username,
      email: this.email,
      password: this.password,
      school: this.school
    };
    firebase
      .auth()
      .createUserWithEmailAndPassword(this.email, this.password)
      .then((data: any) => {
        data.user
          .updateProfile({
            displayName: this.username
          })
          .then(() => {
            db.ref("users/" + data.user.uid).set(userData);
          });
      })
      .then(() => {
        this.$router.replace("/").catch(err => {});
      })
      .catch(function(error: any) {
        // Handle Errors here.
        if (error.code == "auth/weak-password") {
          alert("The password is too weak.");
        } else {
          alert(error.message);
        }
        // ...
      });
  }
}
</script>
