<template>
  <div>
    <v-btn @click="click" color="primary">{{ label }}</v-btn>
  </div>
</template>

<script lang="ts">
// import { Component, Emit, Prop, Vue } from "vue-property-decorator";
import Vue from "vue";
import Component from "vue-class-component";
@Component({
  props: ["label", "click"]
})
export default class Button extends Vue {}
</script>
