<template>
  <div>
    <v-text-field name="name" :rules="rules" :label="label"></v-text-field>
  </div>
</template>

<script lang="ts">
// import { Component, Emit, Prop, Vue } from "vue-property-decorator";
import Vue from "vue";
import Component from "vue-class-component";
@Component({
  props: {
    label: String,
    rules: Array,
    value: String
  }
})
export default class InputField extends Vue {
  value!: string;
  updateLabel() {
    let myLabel = this.value;
    this.$emit("update-value", myLabel);
  }
}
</script>
