<template>
  <div>
    <v-app-bar>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>
      <v-toolbar-title>{{ name }}</v-toolbar-title>
      <router-link to="/" class="menu-url"><v-tab>Home</v-tab></router-link>
      <router-link to="/login" class="menu-url">
        <v-tab v-if="!user.data">Login</v-tab></router-link
      >

      <v-spacer />
      <v-tab v-if="user">{{ displayName }}</v-tab>
      <v-tab @click="logout" v-if="user.data">Logout</v-tab>
    </v-app-bar>
  </div>
</template>

<script lang="ts">
// import { Component, Emit, Prop, Vue } from "vue-property-decorator";
import Vue from "vue";
import { mapGetters } from "vuex";
import Component from "vue-class-component";
import firebase from "firebase";

// @Component
// export default class NavBar extends Vue {
@Component({
  computed: {
    ...mapGetters({
      user: "user",
      displayName: "displayName"
    })
  }
})
export default class NavBar extends Vue {
  name: string = "Vue Moodle";
  user!: Object;
  error: string = "";

  logout(): void {
    firebase
      .auth()
      .signOut()
      .then(() => {
        this.$router.replace("/login").catch(err => {});
      })
      .catch(err => {
        this.error = err.message;
        console.log(this.error);
      });
  }
}
</script>
<style scoped>
.menu-url {
  text-decoration: none !important;
}
</style>
