<template>
  <div>
    <v-row>
      <v-card-text class="mr-8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam unde
        debitis quaerat rerum ipsum quod consequatur harum doloribus, neque
        eligendi, id incidunt! Corporis laudantium ipsum odio repudiandae porro
        aliquid placeat?
      </v-card-text>
    </v-row>
    <v-row>
      <v-card-text class="title">Course Lecturers</v-card-text>
      <v-col max-width="200" cols="3">
        <v-card>
          <v-img
            src="https://images.unsplash.com/photo-1562317762-5097a9fb0fbd"
            height="150"
            max-width="200"
          >
          </v-img>
          <v-card-title>Dr Dare</v-card-title>
        </v-card>
      </v-col>
      <v-col max-width="200" cols="3">
        <v-card>
          <v-img
            :aspect-ratio="200 / 150"
            src="https://images.unsplash.com/photo-1562317762-5097a9fb0fbd"
            height="150"
            max-width="200"
          >
          </v-img>
          <v-card-title>Dr Dare</v-card-title>
        </v-card>
      </v-col>
      <v-col max-width="200" cols="3">
        <v-card>
          <v-img
            :aspect-ratio="200 / 150"
            src="https://images.unsplash.com/photo-1562317762-5097a9fb0fbd"
            height="150"
            max-width="200"
          >
          </v-img>
          <v-card-title>Dr Dare</v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
// @ is an alias to /src
import Vue from "vue";
import Component from "vue-class-component";

@Component({
  components: {}
})
export default class CourseOverView extends Vue {
  name: string = "CourseOverView";
}
</script>
