<template>
  <div>
    <v-card height="150" class="my-1 pa-2">
      <v-row justify="space-between" align="center">
        <v-col>
          <div>Lecture 1: Fourier_Transforms.ppt</div>
          <div>Description: Basics of Fourier Transforms</div>
          <div>Uploaded: now</div>
        </v-col>
        <v-col cols="4"
          ><v-btn>Download <v-icon>mdi-download-outline</v-icon> </v-btn>
        </v-col>
      </v-row>
    </v-card>
    <v-card height="150" class="my-3 pa-2">
      <v-row justify="space-between" align="center">
        <v-col>
          <div>Lecture 2: T.ppt</div>
          <div>Description: Basics of Fourier Transforms</div>
          <div>Uploaded: now</div>
        </v-col>
        <v-col cols="4"
          ><v-btn>Download <v-icon>mdi-download-outline</v-icon> </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script lang="ts">
// @ is an alias to /src
import Vue from "vue";
import Component from "vue-class-component";

@Component({
  components: {}
})
export default class CourseNotes extends Vue {
  name: string = "CourseNotes";
}
</script>
