<template>
  <div>
    <v-card max-width="300">
      <v-img
        height="150px"
        src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
      >
        <v-card-title>{{ details.code }}</v-card-title>
      </v-img>
      <v-expansion-panels focusable>
        <v-expansion-panel>
          <v-expansion-panel-header>{{
            details.title
          }}</v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-icon class="ma-2 mt-5">mdi-reload</v-icon>
            <v-icon class="ma-2 mt-5">mdi-cloud-upload</v-icon>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card>
  </div>
</template>

<script lang="ts">
// import { Component, Emit, Prop, Vue } from "vue-property-decorator";
import Vue from "vue";
import Component from "vue-class-component";
@Component({
  props: ["label", "click", "details"]
})
export default class CourseCard extends Vue {}
</script>
