<template>
  <div id="app">
    <v-app>
      <NavBar />
      <v-content>
        <router-view></router-view>
      </v-content>
    </v-app>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import NavBar from "./components/NavBar.vue";

export default Vue.extend({
  name: "App",

  components: {
    NavBar
  },

  data: () => ({
    //
  })
});
</script>

<style scoped>
#app {
  font-family: "Montserrat", "Avenir", Helvetica, Arial, sans-serif;
}
</style>
