<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <!-- <v-col cols="12" sm="8" md="4"> -->
      <v-card class="elevation-12" align="center">
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-card class="mx-auto" max-width="500" height="150px">
            <v-card-title class="d-flex" align="center">
              <v-card-text class="display-2 pa-2"
                ><v-icon>mdi-book-open-page-variant</v-icon> Moodle</v-card-text
              >

              <v-card-text class="title font-weight-light"
                >Learning Resource for students</v-card-text
              >
            </v-card-title>
          </v-card>
          <v-text-field
            v-model="email"
            class="px-2 mt-4"
            label="Email"
          ></v-text-field>
          <v-text-field
            v-model="password"
            class="px-2"
            label="Password"
          ></v-text-field>
          <v-row justify="center"
            ><v-btn dark @click="validate" class="mb-5 center" color="#6b35fd"
              >Submit</v-btn
            ></v-row
          >
          <v-row justify="center">
            <v-btn
              dark
              @click="$router.replace('/register')"
              class="mb-5 center"
              color="#6b35fd"
              >Don't have an account? Register Here</v-btn
            ></v-row
          >
        </v-form>
      </v-card>
      <!-- </v-col> -->
    </v-row>
  </v-container>
  <!-- </div> -->
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import InputField from "../../components/InputField.vue";
import Button from "../../components/Button.vue";
import NavBar from "../../components/NavBar.vue";
import firebase from "firebase";

@Component({
  components: { InputField, Button }
})
export default class Login extends Vue {
  name: string = "Login";
  email: string = "";
  password: string = "";
  valid: boolean = true;
  error: string = "";

  validate(): void {
    firebase
      .auth()
      .signInWithEmailAndPassword(this.email, this.password)
      .then(data => {
        this.$router.replace("/").catch(err => {});
        // this.$router.replace({ name: "Home" });
        console.log(data);
      })
      .catch(err => {
        this.error = err.message;
        console.log(this.error);
      });
  }
}
</script>
